

/* Agregar las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

/* SECCION INICIO */

#inicio {
    background: linear-gradient(to bottom, rgba(0,0,0, .7), rgba(0,0,0, .7) 100%), url(/src/img/background.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0,0,0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header .logo {
    display: flex;
}

#inicio .contenido header .contenido-header img {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: white;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-self: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: rgba(66, 37, 242, 0.8);
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: rgba(66, 37, 242, 0.8); 
}

#inicio .contenido header .contenido-header .seleccionado{
    color: rgba(66, 37, 242, 0.8);
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size:  45px;
    color: rgba(66, 37, 242, 0.8);
}

#inicio .contenido .presentacion .descripcion {
    color: #fff;
    max-width: 750px;
    margin: 25px auto;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: rgba(66, 37, 242, 0.8);
}

#icono-nav {
    color: #fff;
    display: none;
}

/* SECCION SOBRE MI */

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: black;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: rgba(66, 37, 242, 0.8);
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: lightslategray;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    padding: 10px 30px;
    border: 1px solid black;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a i {
    margin-right: 10px;
}

#sobremi .sobremi a:hover {
    background-color: rgba(66, 37, 242, 0.8);
    color: white;
}

/* SECCION SERVICIOS */

#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color: #fff;
}

#servicios .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: white;
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    transition: .5s;
}

#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #d3d3d3, -5px -5px 10px #d3d3d3;
}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 30px;
}

#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 12px;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 24px;
}

/* SECCION HABILIDADES */

.contenedor-skills {
    background: linear-gradient(to bottom,rgba(66, 37, 242, 0.8), rgba(0,0,0, .7) 100%), url(/src/img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.contenedor-skills .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-decoration-color: lightgray;
    text-decoration-thickness: 5px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.contenedor-skills .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.contenedor-skills .slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.contenedor-skills .slider .slide-track .slide {
    width: 200px;
}

.contenedor-skills .slider .slide-track .slide img {
    width: 150px;
    height: 150px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

/* BAR ANIMATION */

@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

/* SECCION PORTAFOLIO */

#portafolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portafolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portafolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portafolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid #d3d3d3;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}


#portafolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portafolio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#portafolio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portafolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

/* SECCION CONTACTO */ 

#contacto {
    padding: 100px 15px;

}

#contacto .titulo-seccion {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: lightslategrey;
    text-decoration-thickness: 5px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid lightsteelblue;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
}

#contacto .btn-enviar:hover {
    background-color: rgba(66, 37, 242, 0.8);
    color: white;
}

/* SECCION FOOTER */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

/* RESPONSIVE */

@media screen and (max-width:800px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: black;
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
    }
    #servicios .fila .servicio {
        margin: 10px auto;
    }
    #contenedor-skills {
        padding: 50px 20px;
    }
    #portafolio {
        padding: 50px 0;
    }
    #portafolio .fila {
        display: block;
    }
    #portafolio .fila .proyecto {
        margin: 10px auto;
    }
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}
