/* Agregar las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

/* SECCION INICIO */

#inicio {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0, .7), rgba(0,0,0, .7) 100%);
    background-size: cover;
    background-position: center center;
    transition: background-image .5s ease-in-out;
}

#inicio .contenido header {
    background-color: rgba(0,0,0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header .logo {
    display: flex;
}

#inicio .contenido header .contenido-header img {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #fff;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-self: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: #03bcf4;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: rgba(66, 37, 242, 0.8); 
}

#inicio .contenido header .contenido-header .seleccionado{
    color: rgba(66, 37, 242, 0.8);
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
}

#inicio .contenido .presentacion .descripcion {
    color: #fff;
    max-width: 850px;
    margin: 25px auto;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

#inicio .contenido .presentacion a {
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: rgba(66, 37, 242, 0.8);
    color: #fff;
}

#inicio .contenido .contenido-header .darkmode label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio .contenido .contenido-header .darkmode input {
    position: absolute;
    opacity: 0;
}

#inicio .contenido .contenido-header .darkmode .sun {
    position: absolute;
    filter:drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transition: 1s ease;
    transform: scale(0);
    transition: 1s ease;
}

#inicio .contenido .contenido-header .darkmode input:checked~.sun {
    transition-delay: .4s;
    transform: scale(1) rotate(360deg);
}

#inicio .contenido .contenido-header .darkmode .moon {
    filter:drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transition: 1s ease;
    transition-delay: .4s;
}

#inicio .contenido .contenido-header .darkmode input:checked~.moon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}

#inicio .contenido .contenido-header .darkmode .toggle {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #2b2b2b;
    border-radius: 50%;
    box-shadow: 
        inset 0 8px 60px rgba(0, 0, 0, .1),
        inset 0 8px 8px rgba(0, 0, 0, .1),
        inset 0 -4px 4px rgba(0, 0, 0, .1);
    z-index: -1;
}

#inicio .contenido .contenido-header .darkmode input:checked~.toggle {
    background: #f8f8f8;
}

#icono-nav {
    color: #fff;
    display: none;
}

/* SECCION SOBRE MI */

#sobremi {
    background-color: #010d23;
}

#sobremi .contenedor-sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #fff;
    display: flex;
}

#sobremi .contenedor-sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 50px;
}

#sobremi .contenedor-sobremi .contenedor-foto img {
    margin-top: 50px;
    width: 100%;
    border-radius: 20px;
    background-color: #010d23;
}

#sobremi .contenedor-sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .contenedor-sobremi .sobremi .titulo-seccion {
    margin-bottom: 50px;
    position: relative;
    font-size: 2em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

#sobremi .contenedor-sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .contenedor-sobremi .sobremi h2 span {
    color: #03bcf4;
}

#sobremi .contenedor-sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .contenedor-sobremi .sobremi p {
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 12px;
}

#sobremi .contenedor-sobremi .sobremi a {
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    padding: 20px 25px;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}

#sobremi .contenedor-sobremi .sobremi a i {
    margin-right: 10px;
}

#sobremi .contenedor-sobremi .sobremi a:hover {
    background-color: rgba(66, 37, 242, 0.8);
    color: #fff;
}

/* SECCION SERVICIOS */

#servicios {
    padding: 100px 15px; 
    text-align: center;
    background-color: #1a2539;
}

#servicios .titulo-seccion {
    margin-bottom: 80px;
    position: relative;
    font-size: 1.5em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: #313b4d;
    box-shadow: #000;
    backdrop-filter: blur (15px);
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    transition: .5s;
}

#servicios .fila .servicio h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.70em;
    outline: none;
    text-shadow: 0 0 10px rgba(66, 37, 242, 0.8),
    0 0 20px rgba(66, 37, 242, 0.8),
    0 0 40px rgba(66, 37, 242, 0.8),
    0 0 80px rgba(66, 37, 242, 0.8),
    0 0 160px rgba(66, 37, 242, 0.8);
}

#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 12px;
    color: #fff;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 24px;
    color: #f8f8f8;
}


#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #cccfd3, -5px -5px 10px #999ea7;
}

#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #cccfd3;
    padding: 20px;
    margin-bottom: 25px;
}

/* SECCION HABILIDADES */

.contenedor-skills {
    background: linear-gradient(to bottom, rgba(26, 37, 57, 1), rgba(0,0,0, .7) 100%), url(/public/src/img/background.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.contenedor-skills .titulo-seccion {
    margin-bottom: 100px;
    position: relative;
    font-size: 1.5em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

.contenedor-skills .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.contenedor-skills .slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.contenedor-skills .slider .slide-track .slide {
    width: 200px;
}

.contenedor-skills .slider .slide-track .slide img {
    width: 150px;
    height: 150px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

/* SECCION PORTAFOLIO */

#portafolio {
    padding: 100px 15px; 
    text-align: center;
    background-color: #1a2539;
}

#portafolio .titulo-seccion {
    margin-bottom: 100px;
    position: relative;
    font-size: 1.5em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

#portafolio .fila {
    max-width: 1100px;
    margin: auto;
}

#portafolio .fila .galeria-seccion {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img4"
    "img7 img5 img4 img4"
    "img6 img5 img8 img8"
    "img9 img9 img10 img11"
    "img9 img9 img12 img12";
    gap: .8em;
}

#portafolio .fila .galeria-seccion .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#portafolio .fila .galeria-seccion .gallery_picture {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#portafolio .fila .galeria-seccion .gallery_picture::before {
    content: "Hola Mundo";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    transform: translate(100%);
    transition: transform .4s;
}

#portafolio .fila .galeria-seccion .gallery_picture:hover::before {
    transform: translate(0);
}

#portafolio .fila .galeria-seccion .gallery_picture--g1 {
    grid-area: img1;
}

#portafolio .fila .galeria-seccion .gallery_picture--g2 {
    grid-area: img2;
}

#portafolio .fila .galeria-seccion .gallery_picture--g3 {
    grid-area: img3;
}

#portafolio .fila .galeria-seccion .gallery_picture--g4 {
    grid-area: img4;
}

#portafolio .fila .galeria-seccion .gallery_picture--g5 {
    grid-area: img5;
}

#portafolio .fila .galeria-seccion .gallery_picture--g6 {
    grid-area: img6;
}

#portafolio .fila .galeria-seccion .gallery_picture--g7 {
    grid-area: img7;
}

#portafolio .fila .galeria-seccion .gallery_picture--g8 {
    grid-area: img8;
}

/* SECCION DE PROYECTOS */

#proyectos {
    padding: 100px 0;
    margin: auto;
    background-color: #010d23;
}

#proyectos .titulo-seccion {
    margin-bottom: 100px;
    position: relative;
    font-size: 1.5em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

#proyectos .fila {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 133px);
    grid-auto-rows: 200px;
    justify-content: center;
    gap: 1rem;
}

#proyectos .fila .proyecto {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: span 2;
    height: 283px;
}

#proyectos .fila .proyecto:first-of-type {
    grid-column: 2 / span 2;
}

#proyectos .fila .proyecto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

#proyectos .fila .proyecto .info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#proyectos .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

/* SECCION CONTACTO */ 

#contacto {
    padding: 100px 15px;
    background-color: #1a2539;

}

#contacto .titulo-seccion {
    margin-bottom: 100px;
    position: relative;
    font-size: 1.5em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border: 2px solid #313b4d;
    background: #1a2539;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 18px;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
}

#contacto .btn-enviar:hover {
    background-color: #1a2539;
    color: #fff;
}

/* SECCION FOOTER */

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

/* RESPONSIVE */

@media screen and (max-width:800px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: #000;
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
    }
    #servicios .fila .servicio {
        margin: 10px auto;
    }
    #contenedor-skills {
        padding: 50px 20px;
    }
    #portafolio {
        padding: 50px 0;
    }
    #portafolio .fila {
        display: block;
    }
    #portafolio .fila .proyecto {
        margin: 10px auto;
    }
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}
